DATABASE_URL="postgresql://usuario:contrasena@host:5433/agencia_viajes"
DATABASE_SSL=""
DUFFEL_API_TOKEN="duffel_test_..."
SABRE_BASE_URL="https://api.cert.platform.sabre.com"
SABRE_EPR=""
SABRE_PASSWORD=""
SABRE_CLIENT_ID=""
SABRE_CLIENT_SECRET=""
FLIGHT_PROVIDER="duffel"
ADMIN_USUARIO="moises"
ADMIN_CONTRASENA=""
